/* custom styles */
/* basic customization */
body {
    background: url("../images/bg.png");
    margin-bottom: 50px;
}

a {
    color: #C41230;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* branding */
.logo {
    font-family: 'Mate SC', serif;
    font-family: 'Playfair Display SC', serif;
}

.tagline {
    font-style: italic;
}

/* new event modal */
.date-control {
    float: left;
    width: 220px;
}

.add-on {
    margin-top: 8px;
    margin-left: 5px;
    float: left;
}

/* bootstrap overrides */
/* content overrides */
.body-content {
    margin-top: -20px;
    background: #FEFEFA;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 50px;
}

.row {
    margin-left: -45px;
}

.call-to-action {
    text-align:center;
    margin: 30px 0px;
}

/*navbar overrides*/
.navbar-inverse {
    background-color: #0E4C92;
    -moz-box-shadow: 0px 3px 5px #888;
    -webkit-box-shadow: 0px 3px 5px #888;
    box-shadow: 0px 3px 5px #888;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: rgb(255, 255, 255);
    background-color: #1874CD;
}

.navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: rgb(255, 255, 255);
    background-color: #1874CD;
}

/* reasons */
ul.reasons li h3 {
    margin-left: -160px;
}

ul.reasons li img {
    float:left;
    width: 150px;
    margin-top: 60px;
    margin-right: 10px;
}

.reason {
    float: left;
    width: 350px;
}

/* events */
ul.events-list li {
    margin-right: 50px;
    padding: 0px 20px;
    display: inline;
    height: 250px;
    background: #FFF;
    box-shadow: 0px 2px 2px #888;
}

ul.events-list li h5.event-location {
    font-weight: bold;
}